<div class="chatbot-wrapper">
  <mat-card class="chatbot-card">
    <mat-toolbar color="primary" class="toolbar">
      <img src="https://sisacad.itsqmet.edu.ec/img/LUTILOADING.png" alt="Descripción de la imagen" style="width: 50px; height: 63px; margin-right: 10px;">
      Chatbot IA
    </mat-toolbar>



    <!-- Mensajes del chat -->
    <div class="chat-container">
      <div *ngFor="let message of messages" class="chat-message" [ngClass]="{'user': message.sender === 'user', 'bot': message.sender === 'bot'}">
        <mat-card class="message-bubble">
          <p>{{ message.text }}</p>
          <small class="message-time">{{ message.time }}</small> <!-- Mostrar la hora -->
        </mat-card>
      </div>

    </div>


    <!-- Campo de entrada de texto -->
    <div class="input-container">

      <mat-form-field class="full-width">
        <mat-label>Escribe tu mensaje</mat-label>
        <input matInput [(ngModel)]="userInput" (keyup.enter)="sendMessage()">
      </mat-form-field>
      <button class="btn-enviar" (click)="sendMessage()" style="margin-right: 15px; padding-left: 5px">
        <div class="text">
          <span>Enviar</span>
        </div>
        <div class="clone">
          <span>Enviado</span>
        </div>
        <svg
          stroke-width="2"
          stroke="currentColor"
          viewBox="0 0 24 24"
          fill="none"
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          width="20px"
        >
          <path
            d="M14 5l7 7m0 0l-7 7m7-7H3"
            stroke-linejoin="round"
            stroke-linecap="round"
          ></path>
        </svg>
      </button>
      <div class="audio-record" style="display: flex; justify-content: space-evenly; align-items: center; gap: 10px; margin-bottom: 20px;">
        <button id="recordButton" style="padding: 10px 20px; font-size: 16px; color: white; border: none; border-radius: 8px; cursor: pointer; transition: background-color 0.3s ease-in-out;" (click)="toggleRecording()">🎤</button>
  </div>
      <br><br>
      </div>
      <br>
      <div style="padding-right: 50%;">

        <div class="vision-controls" style="display: flex; justify-content: space-evenly; align-items: center; gap: 10px; margin-bottom: 20px;">
          <button class="btn">
            Clasificar imagen
          </button>
          <button (click)="toggleVisionModel('detection')" style="padding: 10px 20px; font-size: 16px; background-color: #007bff; color: white; border: none; border-radius: 8px; cursor: pointer; transition: background-color 0.3s ease-in-out;">Detectar Objetos</button>
        </div>
      </div>


    <!-- Apartado para subir imágenes y cargar su nombre -->
  <div class="upload-container">
    <div class="upload-section">
      <p style="color: black;">📷 Sube una imagen divertida:</p>
      <label class="upload-label">
        <mat-icon>cloud_upload</mat-icon> Seleccionar Imagen
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
      </label>
      <br>
      <!-- Botón de eliminar -->
<button class="delete-button" mat-raised-button (click)="uploadImage()" [disabled]="!selectedFileName">
  <span class="text">Subir imagen</span>
</button>




      <!-- Mostrar el nombre y tipo del archivo seleccionado -->
      <div *ngIf="selectedFileName">
        <p  style="color: black;">📄 Archivo seleccionado:</p>
        <p class="file-info">{{ selectedFileName }} ({{ selectedFileType }})</p>
      </div>
    </div>

    <!-- Vista previa de la imagen subida -->
    <div *ngIf="imagePreview" class="image-preview-container">
      <p style="color: rgb(2, 2, 2);">🎨 Vista previa:</p>
      <img [src]="imagePreview" alt="Imagen subida" class="image-preview">
    </div>
  </div>
  </mat-card>
</div>
